/* Display properties */
.shownone { display: none !important; }
.showblock { display: block !important; }
.showinline { display: inline !important; }

/* Position properties */
.rel { position: relative !important; }
.abs { position: absolute !important; }

/* Height properties */
.h100 { height: 100px !important; }
.h125 { height: 125px !important; }

/* Alignment properties */
.align_l { text-align: left !important; }
.align_r { text-align: right !important; }
.align_c { text-align: center !important; }
.align_j { text-align: justify !important; }
/* Vertical alignment properties */
.valign_t { vertical-align: top !important; }
.valign_m { vertical-align: middle !important; }
.valign_b { vertical-align: bottom !important; }

/* Links properties */
.pointer { cursor: pointer !important; }
.b { font-style: bold !important; }
.i { font-style: italic !important; }
.u { text-decoration: underline !important; }

/* Color properties */
.black, .black a { color: black !important; }
.gray, .gray a { color: gray !important; }
.silver, .silver a { color: silver !important; }
.white, .white a { color: white !important; }

.box {
    margin-bottom: 15px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    background-color: #f5f5f5;
}

.main_div_container { margin-bottom: 100px; }
#table { font-size: 14px; }
#table tr { height: 49px; }

.bgyellow { background: #ffffe0; }

.fav_brown {
    color: #ffff06;
    margin-right: 10px;
}
.fav_default {
    color: rgba(171, 171, 171, 0.24);
    margin-right: 10px;
}
.file-color { color: #4285f4; }

.control-label { display: none; }
div.required label::after { content: ''; }

.infbox {
    margin: 25px;
    border: 2px solid;
    padding: 8px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.infbox.blue {
    border-color: #0000cf;
    background-color: #dae5ff;
    color: #0000cf;
}
.infbox.green {
    border-color: #00cf00;
    background-color: #daffda;
    color: #00cf00;
}
.infbox.red {
    border-color: #cf0000;
    background-color: #ffe5be;
    color: #cf0000;
}

#login_menu_icon {
    position: absolute;
    top: 22px;
    right: 50px;
    cursor: pointer;
    font-size: 17px;
}
#login_menu {
    z-index: 1;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: 6px 6px 6px 9px grey;
    padding: 10px 5px;
    border: 3px solid #bbb;
    border-radius: 10px;
    width: 195px;
    height: 325px;
    background: #eee;
}
#plus_menu_icon {
    position: absolute;
    top: 22px;
    right: 20px;
    cursor: pointer;
    font-size: 17px;
}
#plus_menu {
    z-index: 1;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: 6px 6px 6px 9px grey;
    padding: 10px 5px;
    border: 3px solid #bbb;
    border-radius: 10px;
    width: 195px;
    background: #eee;
}
.upcr_icon {
    margin: 10px 0 0 36px;
    padding: 1px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.line_icons {
    position: absolute;
    top: 80px;
    width: 78px;
    height: 1px;
    background: silver;
}
#line_sciebo { left: 13px; }
#line_gd { right: 13px; }
#line_sciebo_login { left: 13px; }
#line_gd_login { right: 13px; }
#uploadfileform-upload { display: none; }
#createfileform-create {
    position: absolute;
    top: 0;
    right: 0;
}
#loginform-selected_cloud_login {
    position: relative;
    right: 15px;
}
.upcr_shaddow { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
.upcr_btn_div {
    position: relative;
    margin: 15px 9px;
    padding: 0;
}
.upload_btn_div {
    position: absolute;
    top: 90px;
    left: 14px;
}
.upload_btn_div_inside_folder {
    position: absolute;
    top: 0;
    left: 14px;
}
.upcr_btn {
    padding: 5px 11px;
    cursor: pointer;
}
.upcr_btn:hover { background: gray !important; }
.upcr_btn_active { background: #e86fdb !important; }
.upcr_btn_active:hover { background: #e86fdb !important; }
.upcr_label {
    position: relative;
    left: 5px;
    font-size: 12px;
}
#create_btn { margin-left: 30px; }
.type_icon {
    margin-left: 9px;
    cursor: pointer;
}

.more_menu {
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 25px;
    box-shadow: 6px 6px 6px 9px grey;
    padding: 10px 25px;
    border: 3px solid #bbb;
    border-radius: 10px;
    width: 145px;
    height: 80px;
    background: #eee;
}
.more_menu_owner { width: 330px !important; }
.more_menu_div {
    float: left;
    margin: 5px;
    width: 80px;
    height: 55px;
    text-align: center;
    line-height: 1;
}
.more_txt {
    position: relative;
    font-size: 10px;
}
.more_del_confirm {
    margin-top: 5px;
    margin-left: 200px;
    padding: 0 !important;
    width: 80px;
    text-align: center;
}

.space_sharing_menu {
    z-index: 1;
    position: absolute;
    top: 5px;
    right: 25px;
    box-shadow: 6px 6px 6px 9px grey;
    padding: 10px 25px;
    border: 3px solid #bbb;
    border-radius: 10px;
    width: 300px;
    min-height: 75px;
    background: #eee;
}